<ul id="fms-modules-grid" ng-cloak>
	<div class="row" id="aboutMain" style="padding-bottom: 80px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>The Grub2You Story</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					The idea for Grub2You was born when we realized that we really missed a similar service that had existed previously but was no longer available. Our busy lives really afforded us not many great options when it came to balancing a quality family meal and the time commitment of going out to eat or cooking at home; Grub2You solves this problem by delivering a hot, fresh, high-quality meal to us wherever we are, freeing us to spend more time with family or work commitments.<br/><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>Hours of Operation</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-1" align="center" style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Sunday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-1" align="center" style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Monday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-1" align="center" style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Tuesday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-1" align="center" style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Wednesday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-1" align="center" style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Thursday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-1" align="center" style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Friday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-1" align="center" style="border: 1px solid black;">
							<div class="row daysRowHead">
								<span class="hoursDayHead">Saturday</span>
							</div>
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">09:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">11:00 am</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">12:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">01:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">02:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">03:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">04:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">05:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">06:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">07:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">08:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursYes">
									<span class="hoursYesLabel">09:00 pm</span>
								</div>
							</div>
							<div class="row">
								<div class="col hoursNo">
									<span class="hoursNoLabel">10:00 pm</span>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-md-offset-1" style="border: 1px solid black;">
							<div class="row">
								<div class="col-md-12 hoursNo">
									<span class="hoursNoLabel">Delivery NOT Available</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 hoursYes">
									<span class="hoursYesLabel">Delivery Available</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>How Does it Work?</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					The process starts with you browsing the <a href="/app/" style="text-decoration: none;">restaurants and menus</a> on this site and creating an order. Once the order has been submitted (and payment arrangements made), we take care of everything else!<br/><br/>
					We call the restaurant on your behalf, ordering your meal just as you specify (make sure to include special ordering instructions when you add an item to your order). We then assign your order to the next available driver, who collects your order from the restaurant and delivers it hot and fresh to you!<br/><br/>
					<em><b>Delivery Fees</b></em><br/>
					Delivery fees are determined by calculating the drive time from the restaurant(s) to the destination, and fall into three tiers: {{tierOne}}, {{tierTwo}} and {{tierThree}}. Each additional restaurant after 1 will cost an additional {{addRestaurant}}. Our single biggest cost is labor, so it makes sense that we peg the delivery fee to the amount of labor we must purchase.
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>About Our Drivers</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					Our drivers are the most personal representation of our company. As such, we have the highest of expectations for their appearance, behavior, courtesy, customer service, professionalism and safe driving.<br/><br/>
					A thorough background check is performed for each driver before he or she is permitted to deliver; the safety and comfort of our customers is of paramount importance to us.<br/><br/>
				</div>
			</div>
    </div>
  </div>
</ul>
