<div class="modal-header">
  <h3 class="modal-title" id="nav-away-modal-title">
		Add a Payment Method
  </h3>
</div>
<div class="modal-body">
	<form name="addItemForm">
		<ng-include src="'/templates/addPMInputs.html'"></ng-include>
	</form>
</div>
<div class="modal-footer">
	<button
		type="button" class="btn btn-primary pull-left" ng-click="$close('discard')"
		ng-class="{disabled: processing}"
	>
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
	<button
		type="button" class="btn btn-success pull-right" ng-click="addPaymentMethod()"
		ng-class="{disabled: processing}"
	>
    <i class="fa fa-plus"></i> &nbsp; Add Method
  </button>
</div>
