<ul id="fms-modules-grid" ng-cloak>
	<div class="row" style="padding-bottom: 80px;">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-4">
					<div class="row" id="aboutStoryHead">
						<h3>Customer Service</h3>
					</div>
					<div class="row" id="aboutStoryBody" manage-height>
						Our customer service personnel are the best in the business, and we intend to maintain that high standard. From assisting new customers get acclimated to the service or software to taking care of the important details of every last order, a Grub2You CSR is a partner in success!<br/><br/>
						A thorough background check is performed for each CSR before he or she is permitted to access the software or any personally identifiable information; the safety and comfort of our customers is of paramount importance to us.<br/><br/>
						If you think you might be a good fit on our exciting new CSR team, <span class="applyLink" ng-click="apply()">click here to apply</span>.
					</div>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<div class="row" id="aboutDriversHead">
						<h3>Delivery Drivers</h3>
					</div>
					<div class="row" id="aboutDriversBody" manage-height>
						Our drivers are the most personal representation of our company. As such, we have the highest of expectations for their appearance, behavior, courtesy, customer service, professionalism and safe driving.<br/><br/>
						A thorough background check is performed for each driver before he or she is permitted to deliver; the safety and comfort of our customers is of paramount importance to us.<br/><br/>
						If you think you might be a good fit on our exciting new delivery team, <span class="applyLink" ng-click="apply()">click here to apply</span>.
					</div>
				</div>
    </div>
  </div>
</ul>
