<div class="modal-header">
  <h3 class="modal-title" id="nav-away-modal-title">
		Checkout Not Available Right Now
  </h3>
</div>
<div class="modal-body">
	<h4>Delivery service is not available until 5:00 pm today (Tuesday, July 7, 2015) as<br/>the Grub2You team is finishing up from the parade<br/>Delivery service will be normal for dinner tonight!.</h4><br/><br/>
	<h5>If you think you're getting this message in error,<br/>please contact us at 307-234-GRUB (307-234-4782).</h5>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-reply"></i> &nbsp; Go Back
  </button>
</div>
