<ul id="fms-modules-grid" ng-cloak>
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-3">
					<div class="row" id="aboutStoryHead">
						<h3>{{area.name}} Grub2You</h3>
					</div>
					<div class="row" id="aboutStoryBody" manage-height>
						<span>Phone:</span><br/>
						<span>{{area.franchisee.phone}}</span><br/><br/>
						<span>Email:</span><br/>
						<span>{{area.franchisee.email}}</span><br/><br/>
						<span>Address:</span><br/>
						<span>{{area.franchisee.address.street}}</span><br/>
						<span>{{area.franchisee.address.city}}, {{area.franchisee.address.state}} {{area.franchisee.address.zip}}</span><br/><br/>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<div class="row" id="aboutOtherHead">
						<h3>Grub2You Corporate</h3>
					</div>
					<div class="row" id="aboutOtherBody" manage-height>
						<span>Phone:</span><br/>
						<span>{{corporate.phone}}</span><br/><br/>
						<span>Email:</span><br/>
						<span>{{corporate.email}}</span><br/><br/>
						<span>Address:</span><br/>
						<span>{{corporate.address.street}}</span><br/>
						<span>{{corporate.address.city}}, {{corporate.address.state}} {{corporate.address.zip}}</span><br/><br/>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<div class="row" id="aboutDriversHead">
						<h3>Employment Opportunities</h3>
					</div>
					<div class="row" id="aboutDriversBody" manage-height>
						Our drivers are the most personal representation of our company. As such, we have the highest of expectations for their appearance, behavior, courtesy, customer service, professionalism and safe driving.<br/><br/>
						A thorough background check is performed for each driver before he or she is permitted to deliver; the safety and comfort of our customers is of paramount importance to us.<br/><br/>
						<span ng-show="area.hiring == 'true'"><a href="/apply" style="text-decoration: none;">Apply to be a Grub2You Driver</a><br/><br/></span>
					</div>
				</div>
    </div>
  </div>
</ul>
