  <!-- http://www.datatables.net/ -->
  <!-- http://www.datatables.net/manual/data -->
  <!-- http://www.datatables.net/manual/server-side -->
  <table 
    id="{{datatables.id}}" class="table table-striped table-bordered" 
    cellspacing="0" width="100%"
  >
    <thead>
      <tr>
        <th ng-repeat="col in datatables.cols">{{col.label}}</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th ng-repeat="col in datatables.cols">{{col.label}}</th>
      </tr>
    </tfoot>
  </table>
  <div id="{{datatables.render()}}" style="display:none;"></div>
