<ul id="fms-modules-grid" ng-cloak>
	<div class="row" id="privacyMain" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>Privacy Policy</h1><br/>
					<h4>Grub2You respects your privacy</h4><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					Your privacy is important to us. To better protect your privacy we provide 
					this notice explaining our online information practices and the choices you 
					can make about the way your information is collected and used.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>The Information We Collect</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					Any information gathered by Grub2You is used to customize the Grub2You experience, 
					and is not shared or sold to any third parties, except as expressly provided for 
					in this Privacy Policy and our Terms of Use.<br/><br/>

					Grub2You reserves the right to view private sites and private posts for the purposes 
					of fixing issues, and to look for copyrighted or other inappropriate material. This 
					will only be done as necessary and these posts will never be shared by anyone else.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Our Commitment to Data Security</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					To prevent unauthorized access, maintain data accuracy, and ensure the correct use 
					of information, we have put in place appropriate physical, electronic, and managerial 
					procedures to safeguard and secure the information we collect online. We believe in 
					protecting your information just as we would want our information protected.<br/><br/>

					In the event that personal information is compromised as a result of a breach of security, 
					Grub2You will promptly notify those persons whose personal information has been compromised, 
					in accordance with the notification procedures set forth in this Privacy Policy, or as 
					otherwise required by applicable law.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Notifications</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					It is our policy to provide notifications, whether such notifications are required by 
					law or are for marketing or other business related purposes, to our users via e-mail notice, 
					written or hard copy notice, or through conspicuous posting of such notice on the Grub2You 
					website, as determined by us in our sole discretion. Notwithstanding the foregoing, Grub2You	
					reserves the right to determine the form and means of providing notifications to our users.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Child Protection</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					We do not offer services to, or target, persons under the age of 13. In compliance with the 
					Children's Online Privacy Protection Act, we will purge any information we receive from people 
					we believe to be children under 13 from our database and cancel the corresponding accounts.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>How You Can Access Or Correct Your Information</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					You can access your personally identifiable information that we collect online and maintain by 
					logging in and "Editing" your account. Your password is needed to edit this information, even 
					if you are already logged in. We use this procedure to better safeguard your information.<br/><br/>
	
					To protect your privacy and security, we will also take reasonable steps to verify your identity 
					before granting access or making corrections. The main form of identity management is your e-mail 
					address. Please always use a valid and up-to-date e-mail address.<br/>
				</div>
			</div>
    </div>
  </div>
</ul>
