<ul id="fms-modules-grid" ng-cloak>
	<div class="row" id="termsMain" style="padding-bottom: 80px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1>Terms & Conditions</h1><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					The terms and conditions stated herein (collectively, the "Agreement") constitute 
					a legal agreement between you and Grub2You, a Wyoming corporation (the "Company"). 
					In order to use the Service and the associated Software you must agree to the terms 
					and conditions that are set out below. By using or receiving any services supplied 
					to you by the Company (collectively, the "Service"), and downloading, installing or 
					using any associated software supplied by the Company which purpose is to enable you 
					to use the Service (collectively, the "Software"), you hereby expressly acknowledge 
					and agree to be bound by the terms and conditions of this Agreement, and any future 
					amendments and additions to this Agreement as published from time to time at 
					http://grub2you.com/terms or through the Service.<br/><br/>

					The Company reserves the right to modify the terms and conditions of this Agreement 
					or its policies relating to the Service or Software at any time, effective upon 
					posting of an updated version of this Agreement on the Service or Software. You are 
					responsible for regularly reviewing this Agreement. Continued use of the Service or 
					Software after any such changes shall constitute your consent to all such changes.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Representations and Warranties</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					By using the Software or Services, you expressly represent and warrant that you are 
					legally entitled to enter this Agreement. If you reside in a jurisdiction which 
					restricts the use of the Services because of age, or restricts the ability to enter 
					into agreements such as this one due to age, you must abide by such age limits and 
					you must not use the Software and Service. Without limiting the foregoing, the Service 
					and Software is not available to children (persons under the age of 18). By using 
					the Software or Services, you represent and warrant that you are at least 18 years old. 
					By using the Software or the Services, you represent and warrant that you have the 
					right, authority and capacity to enter into this Agreement and to abide by all of the 
					terms and conditions of this Agreement. Your participation in using the Service and/or 
					Software is for your sole, personal use. You may not authorize others to use your user 
					status, and you may not assign or otherwise transfer your user account to any other person 
					or entity. When using the Software or Service you agree to comply with all applicable 
					laws of the location in which you are physically present while using the Software or 
					Service. You may only access the Services using authorized means. It is your responsibility 
					to check to ensure you download the correct Software for your device. The Company is not 
					liable if you do not have a compatible handset or if you have downloaded the wrong version 
					of the Software for your handset. The Company reserves the right to terminate this Agreement 
					should you be using the Service or Software with an incompatible or unauthorized device.<br/><br/>

					By using the Software or the Services, you agree that:<br/><br/>
					<ul>
						<li>You will only use the Service or Software for lawful purposes; you will not use the 
						Services for sending or storing any unlawful material or for fraudulent purposes.</li>
						<li>You will not use the Service or Software to cause nuisance, annoyance or inconvenience.</li>
						<li>You will not impair the proper operation of the network.</li>
						<li>You will not try to harm the Service or Software in any way whatsoever.</li>
						<li>You will not copy, or distribute the Software or other content without written 
						permission from the Company.</li>
						<li>You will only use the Software and Service for your own use and will not resell it 
						to a third party.</li>
						<li>You will keep secure and confidential your account password or any identification 
						we provide you which allows access to the Service.</li>
						<li>You will provide us with whatever proof of identity we my reasonably request.</li>
						<li>You will only use an access point or 3G data account (AP) which you are authorized to use.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>License Grant & Restrictions</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					The Company hereby grants you a non-exclusive, non-transferable, right to use the Software 
					and Service, solely for your own personal, non-commercial purposes, subject to the terms 
					and conditions of this Agreement. All rights not expressly granted to you are reserved 
					by the Company and its licensors. You shall not:<br/><br/>

					i. license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially 
					exploit or make available to any third party the Service or the Software in any way;<br/><br/>

					ii. modify or make derivative works based upon the Service or the Software;<br/><br/>

					iii. create Internet "links" to the Service or "frame" or "mirror" any Software on any 
					other server or wireless or Internet-based device;<br/><br/>

					iV. reverse engineer or access the Software in order to<br/>

					a. build a competitive product or service<br/><br/>

					b. build a product using similar ideas, features, functions or graphics 
					of the Service or Software, or<br/><br/>

					c. copy any ideas, features, functions or graphics of the Service or Software<br/><br/>

					v. launch an automated program or script, including, but not limited to, web spiders, 
					web crawlers, web robots, web ants, web indexers, bots, viruses or worms, or any program 
					which may make multiple server requests per second, or unduly burdens or hinders the 
					operation and/or performance of the Service or Software.<br/><br/>

					You may use the Software and Service only for your personal, non-commercial 
					purposes and shall not:<br/><br/>

					i. send spam or otherwise duplicative or unsolicited messages in violation of applicable laws;<br/><br/>

					ii. send or store infringing, obscene, threatening, libelous, or otherwise unlawful or tortious 
					material, including material harmful to children or violative of third party privacy rights;<br/><br/>

					iii. send or store material containing software viruses, worms, Trojan horses or other 
					harmful computer code, files, scripts, agents or programs;<br/><br/>

					iV. interfere with or disrupt the integrity or performance of the Software or 
					Service or the data contained therein;<br/><br/>

					v. attempt to gain unauthorized access to the Software or Service or its related 
					systems or networks.<br/><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Payment Terms</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					Any fees which the Company may charge you for the Software or Service, are due 
					immediately and are non-refundable. This no refund policy shall apply at all 
					times regardless of your decision to terminate your usage, our decision to 
					terminate your usage, disruption caused to our Software or Service either planned, 
					accidental or intentional, or any reason whatsoever. The Company reserves the 
					right to determine final prevailing pricing - Please note the pricing information 
					published on the website may not reflect the prevailing pricing.<br/><br/>

					In addition to the amount due, delinquent accounts and/or chargebacks will be 
					charged with fees and/or charges that are incidental to the collection of delinquent 
					accounts and/or chargebacks including, but not limited to, collection fees and/or 
					convenience fees and/or other third parties charges. You hereby explicitly agree that 
					all communication in relation to delinquent accounts will be made by electronic mail 
					or by phone, as provided to the Company by you. Such communication may be made by the 
					Company or by anyone on its behalf, including but not limited to a third party collection agent.<br/><br/>

					The Company, at its sole discretion, makes promotional offers with different features 
					and different rates to any of our customers. These promotional offers, unless made to you, 
					shall have no bearing whatsoever on your offer or contract. The Company may change the fees 
					for our Service or Software as we deem necessary for our business. We encourage you to check 
					back at our website periodically if you are interested about how we charge for the Service of Software.<br/><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Intellectual Property Ownership</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					The Company alone (and its licensors, where applicable) shall own all right, title and interest, 
					including all related intellectual property rights, in and to the Software and the Service and 
					any suggestions, ideas, enhancement requests, feedback, recommendations or other information 
					provided by you or any other party relating to the Software or the Service. This Agreement is 
					not a sale and does not convey to you any rights of ownership in or related to the Software or 
					the Service, or any intellectual property rights owned by the Company. The Company name, the Company 
					logo, and the product names associated with the Software and Service are trademarks of the Company 
					or third parties, and no right or license is granted to use them.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Third Party Interactions</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					During use of the Software and Service, you may enter into correspondence with, purchase goods 
					and/or services from, or participate in promotions of third party service providers, advertisers 
					or sponsors showing their goods and/or services through the Software or Service. Any such activity, 
					and any terms, conditions, warranties or representations associated with such activity, is solely 
					between you and the applicable third-party. The Company and its licensors shall have no liability, 
					obligation or responsibility for any such correspondence, purchase, transaction or promotion between 
					you and any such third-party. The Company does not endorse any sites on the Internet that are linked 
					through the Service or Software, and in no event shall the Company or its licensors be responsible 
					for any content, products, services or other materials on or available from such sites or third party 
					providers. The Company provides the Software and Service to you pursuant to the terms and conditions 
					of this Agreement. You recognize, however, that certain third-party providers of goods and/or services 
					may require your agreement to additional or different terms and conditions prior to your use of or 
					access to such goods or services, and the Company disclaims any and all responsibility or liability 
					arising from such agreements between you and the third party providers.<br/><br/>

					The Company may rely on third party advertising and marketing supplied through the Software or 
					Service and other mechanisms to subsidize the Software or Service. By agreeing to these terms and 
					conditions you agree to receive such advertising and marketing. If you do not want to receive such 
					advertising you should notify us in writing. The Company reserves the right to charge you a higher 
					fee for the Services or Software should you choose not to receive these advertising services. This 
					higher fee, if applicable, will be posted on the Company's website located at http://grub2you.com. 
					The Company may compile and release information regarding you and your use of the Software or Service 
					on an anonymous basis as part of a customer profile or similar report or analysis. You agree that it 
					is your responsibility to take reasonable precautions in all actions and interactions with any third 
					party you interact with through the Service.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Indemnification</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					By entering into this Agreement and using the Software or Service, you agree that you shall 
					defend, indemnify and hold the Company, its licensors and each such party's parent organizations, 
					subsidiaries, affiliates, officers, directors, members, employees, attorneys, assigns and agents 
					harmless from and against any and all claims, costs, damages, losses, liabilities and expenses 
					(including attorneys' fees and costs) arising out of or in connection with:<br/><br/>

					a. your violation or breach of any term of this Agreement or any applicable law or regulation, 
					whether or not referenced herein;<br/><br/>

					b. your violation of any rights of any third party, including providers of courier services 
					arranged via the Service or Software, or<br/><br/>

					c. your use or misuse of the Software or Service.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Disclaimer of Warranties</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTY AS TO THE RELIABILITY, TIMELINESS, 
					QUALITY, SUITABILITY, AVAILABILITY, ACCURACY OR COMPLETENESS OF THE SERVICE OR SOFTWARE. 
					THE COMPANY DOES NOT REPRESENT OR WARRANT THAT<br/><br/>

					a. THE USE OF THE SERVICE OR SOFTWARE WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE OR 
					OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA,<br/><br/>

					b. THE SERVICE OR SOFTWARE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS,<br/><br/>

					c. ANY STORED DATA WILL BE ACCURATE OR RELIABLE,<br/><br/>

					d. THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED 
					BY YOU THROUGH THE SERVICE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS,<br/><br/>

					e. ERRORS OR DEFECTS IN THE SERVICE OR SOFTWARE WILL BE CORRECTED, OR<br/><br/>

					f. THE SERVICE OR THE SERVER(S) THAT MAKE THE SERVICE AVAILABLE ARE FREE OF VIRUSES OR OTHER 
					HARMFUL COMPONENTS.<br/><br/>

					THE SERVICE AND SOFTWARE IS PROVIDED TO YOU STRICTLY ON AN "AS IS" BASIS. ALL CONDITIONS, 
					REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, 
					WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
					OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS, ARE HEREBY DISCLAIMED TO THE MAXIMUM EXTENT PERMITTED 
					BY APPLICABLE LAW BY THE COMPANY. THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTY 
					AS TO THE RELIABILITY, SAFETY, TIMELINESS, QUALITY, SUITABILITY OR AVAILABILITY OF ANY SERVICES, 
					PRODUCTS OR GOODS OBTAINED BY THIRD PARTIES THROUGH THE USE OF THE SERVICE OR SOFTWARE. YOU 
					ACKNOWLEDGE AND AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SOFTWARE AND SERVICE, 
					AND ANY THIRD PARTY SERVICES OR PRODUCTS, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED BY LAW.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Internet Delays</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					THE COMPANY'S SERVICE AND SOFTWARE MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS 
					INHERENT IN THE USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS. THE COMPANY IS NOT 
					RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGE RESULTING FROM SUCH PROBLEMS.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Limitation of Liability</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					IN NO EVENT SHALL THE COMPANY'S AGGREGATE LIABILITY EXCEED THE AMOUNTS ACTUALLY PAID BY 
					AND/OR DUE FROM YOU IN THE SIX (6) MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING 
					RISE TO SUCH CLAIM. IN NO EVENT SHALL THE COMPANY AND/OR ITS LICENSORS BE LIABLE TO ANYONE 
					FOR ANY INDIRECT, PUNITIVE, SPECIAL, EXEMPLARY, INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES 
					OF ANY TYPE OR KIND (INCLUDING PERSONAL INJURY, LOSS OF DATA, REVENUE, PROFITS, USE OR 
					OTHER ECONOMIC ADVANTAGE). THE COMPANY AND/OR ITS LICENSORS SHALL NOT BE LIABLE FOR ANY 
					LOSS, DAMAGE OR INJURY WHICH MAY BE INCURRED BY YOU, INCLUDING BY NOT LIMITED TO LOSS, 
					DAMAGE OR INJURY ARISING OUT OF, OR IN ANY WAY CONNECTED WITH THE SERVICE OR SOFTWARE, 
					INCLUDING BUT NOT LIMITED TO THE USE OR INABILITY TO USE THE SERVICE OR SOFTWARE, ANY 
					RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, 
					OR AS A RESULT OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY THIRD PARTY SERVICE 
					PROVIDER, ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS ON THE WEBSITE OR IS REFERRED 
					BY THE SERVICE OR SOFTWARE, EVEN IF THE COMPANY AND/OR ITS LICENSORS HAVE BEEN PREVIOUSLY 
					ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<br/><br/>

					THE COMPANY MAY INTRODUCE YOU TO THIRD PARTY COURIERS FOR THE PURPOSES OF PROVIDING COURIER 
					SERVICES. WE WILL NOT ASSESS THE SUITABILITY, LEGALITY OR ABILITY OF ANY THIRD PARTY COURIERS 
					AND YOU EXPRESSLY WAIVE AND RELEASE THE COMPANY FROM ANY AND ALL ANY LIABILITY, CLAIMS OR 
					DAMAGES ARISING FROM OR IN ANY WAY RELATED TO THE THIRD PARTY COURIERS. THE COMPANY WILL NOT 
					BE A PARTY TO DISPUTES, NEGOTIATIONS OF DISPUTES BETWEEN YOU AND SUCH THIRD PARTY PROVIDERS. 
					WE CANNOT AND WILL NOT PLAY ANY ROLE IN MANAGING PAYMENTS BETWEEN YOU AND THE THIRD PARTY 
					PROVIDERS. RESPONSIBILITY FOR THE DECISIONS YOU MAKE REGARDING SERVICES OFFERED VIA THE SOFTWARE 
					OR SERVICE (WITH ALL ITS IMPLICATIONS) RESTS SOLELY WITH YOU. WE WILL NOT ASSESS THE SUITABILITY, 
					LEGALITY OR ABILITY OF ANY SUCH THIRD PARTIES AND YOU EXPRESSLY WAIVE AND RELEASE THE COMPANY 
					FROM ANY AND ALL LIABILITY, CLAIMS, CAUSES OF ACTION, OR DAMAGES ARISING FROM YOUR USE OF THE 
					SOFTWARE OR SERVICE, OR IN ANY WAY RELATED TO THE THIRD PARTIES INTRODUCED TO YOU BY THE SOFTWARE 
					OR SERVICE. YOU EXPRESSLY WAIVE AND RELEASE ANY AND ALL RIGHTS AND BENEFITS UNDER SECTION 1542 
					OF THE CIVIL CODE OF THE STATE OF CALIFORNIA (OR ANY ANALOGOUS LAW OF ANY OTHER STATE), WHICH 
					READS AS FOLLOWS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW 
					OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH, IF KNOWN 
					BY HIM OR HER, MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."<br/><br/>

					THE QUALITY OF THE COURIER SERVICES SCHEDULED THROUGH THE USE OF THE SERVICE OR SOFTWARE IS 
					ENTIRELY THE RESPONSIBILITY OF THE THIRD PARTY PROVIDER WHO ULTIMATELY PROVIDES SUCH COURIER 
					SERVICES TO YOU. YOU UNDERSTAND, THEREFORE, THAT BY USING THE SOFTWARE AND THE SERVICE, YOUR 
					SHIPMENTS MAY BE EXPOSED TO SITUATIONS THAT ARE POTENTIALLY DANGEROUS, OFFENSIVE, HARMFUL TO 
					MINORS, UNSAFE OR OTHERWISE OBJECTIONABLE, AND THAT YOU USE THE SOFTWARE AND THE SERVICE AT YOUR OWN RISK.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Notice</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					The Company may give notice by means of a general notice on the Service, electronic mail to 
					your email address on record in the Company's account information, or by written communication 
					sent by first class mail or pre-paid post to your address on record in the Company's account 
					information. Such notice shall be deemed to have been given upon the expiration of 48 hours 
					after mailing or posting (if sent by first class mail or pre-paid post) or 12 hours after 
					sending (if sent by email). You may give notice to the Company (such notice shall be deemed 
					given when received by the Company) at any time by any of the following: letter delivered by 
					nationally recognized overnight delivery service or first class postage prepaid mail to the 
					Company at the following addresses (whichever is appropriate): Brub2You, PO Box 52274, Casper, 
					WY 82604  addressed to the attention of: Chief Executive Officer.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Assignment</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					This Agreement may not be assigned by you without the prior written approval of the 
					Company but may be assigned without your consent by the Company to<br/><br/>

					i. a parent or subsidiary<br/><br/>

					ii. an acquirer of assets<br/><br/>

					iii. a successor by merger<br/><br/>

					Any purported assignment in violation of this section shall be void.<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3>Term and Termination of Agreement</h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					This Agreement is effective upon the use of the Software or the Service. 
					You or the Company may terminate your participation in the Service at any 
					time, for any reason and the Company may prohibit your use of the Software 
					or Service at any time in its sole discretion. The terms of this Agreement, 
					and any subsequent modification of this Agreement, shall remain in effect 
					at all times after you or the Company terminate your participation or access 
					to the Software or Service.<br/>
				</div>
			</div>
    </div>
  </div>
</ul>
