<!DOCTYPE html>
<html>
  <head>
    <title>Please login...</title>

    <!-- TODO: Move to grunt -->
      <!-- Stylesheets -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/login.css">

      <!-- Fonts -->
      <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300" rel="stylesheet" type="text/css">
      <link href="//fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic,300italic,300" rel="stylesheet" type="text/css">

      <!-- Scripts -->
      <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <!-- /TODO -->
  </head>
  <body>
    <%- body %>

    <!-- TODO: Move to grunt -->
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- /TODO -->
  </body>
</html>
